$main-color: rgba(43, 43, 43, 0.8)
$dark-color: rgba(87, 84, 236, 0.7)
$main-color-hover: rgba(28, 122, 28, 1)
$dark-color-hover: rgba(87, 84, 236, 1)
// $bright-color: #AF1828

$montserrat: 'Montserrat-SemiBold'
// $lato-reg: 'Lato-Regular'
// $haus: 'Lighthaus'
